
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

.welcome {
    height:100vh;
    background: url('/assets/images/par.jpeg')
    no-repeat bottom right fixed;
     background-size: cover;
    position: relative;
    background-position: center;
  background-repeat: no-repeat;

}

.welcome {
    height: 100vh;
    overflow: hidden;
    position: inherit;

     animation-name: welcome-zoom;
    animation-duration: 5s;
    animation-fill-mode: both;
}

@keyframes welcome-zoom {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-size: 3rem;
    color: #e84545;
    position: fixed;
    margin: 2rem 0 0 2rem;
}

.navbar-nav {
    color:whitesmoke; 
    position: relative;

}

.navbar-light .navbar-nav .nav-link {
    color: rgb(247 247 247);
}
    

.headerinfo {
    left: 600px;
    top: 500px;
    color: whitesmoke;
    padding-top: 0.7rem;
    width:50%;
    position:relative;
}

.information {
    background-color: #ffffff;
margin-top: 5em;
padding: 30px 30px; 
}

.information h3 {
    text-align: center;
    text-transform: uppercase;
}